---
title: Alex Stormwood's Online Journal
layout: layouts/home.njk
description: Alex's writing on various tech-related topics and events.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>Alex's writing on various tech-related topics and events.</p>

<div id="posts">
  <h2>Recent Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>