---
pagination:
  data: collections.posts
  size: 20
  alias: entries
layout: layouts/home.njk
title: Post List
eleventyNavigation:
  key: Post List
  order: 3
permalink: /archive/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber }}/{% endif %}
---

<table style="width: 100%;">
  <thead>
    <th>Post Title</th>
    <th>Published Date</th>
    <th>Tags</th>
  </thead>
  <tbody>
{%- for entry in entries %}
  <tr>
    <td>
      <a href="{{ entry.url }}">{{ entry.data.title }}</a>
    </td>
    <td>
      <time datetime="{{ entry.data.date | htmlDateString }}">{{ entry.data.date | readableDate }}</time>
    </td>
    <td>
    {% for tag in entry.data.tags -%}
      {% if tag !== 'posts' %}
          <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a><span>,</span>
      {% endif %}
    {%- endfor %}

    </td>
  </tr>
{%- endfor %}
  </tbody>
</table>
