#aboutPageContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#aboutPageMainContent {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 60%;
	
	div,p {
		padding-bottom: 1%;
	}




	
	.contentWithSideImage {
		width: 100%;
		justify-content:space-between;
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 5%;

		.content {
			max-width: 55%;
		}
		.sideImage {
			max-width: 30%;
			object-fit: cover;
			border-radius: 25%;
		}
	}

	#aboutIntro {
		display: flex;
		flex-direction: row;
		gap: 5%;

		#aboutIntroHeaderImg {
			img {
				aspect-ratio: 1;
				object-fit:scale-down;
				width: 100%;
				border-radius: 25%;
			}
		}
	}
}


@media only screen and (max-width: 600px){
	#aboutPageMainContent {
		display: flex;
		flex-direction: column;
		align-items: left;
		width: 90%;
	
		p {
			padding: 1%;
		}

		#aboutIntro {
			flex-direction: column;
		}


		.contentWithSideImage {
			width: 100%;
			justify-content: space-between;
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 5%;
			margin-bottom: 5%;

			.content {
				max-width: 100%;
			}
			.sideImage {
				max-width: 100%;
			}
		}
	}
}