


#appearancePage {
	

	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 5%;
		width: 100%;

		ul {
			width: 60%;

			li {
				padding: 2%;
			}
		}
	}
}
