.articleContent {
	

	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	figure.articleFigure {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		background-color: var(--theme-800);
		border-radius: 25px;

		figcaption {
			width: 100%;
			text-align: center;
		}
		img {
			border-radius: 25px;
		}
	}

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 5%;
		width: 50%;
		ul {
			width: 100%;

			li {
				padding: 2%;
			}
		}
	}

	pre.syntaxHighlighterComponent{
		width: 100%;
		padding: 0;
	}
	pre.syntaxHighlighterOutputComponent{
		width: 100%;
		padding: 0;
		user-select: none;
	}

	.subheadingAnchor {
		width: 100%;
	}
}

#appearancePage {

	div {
		justify-content: center;
		align-items: center;
	}
}

#videogamesblockchainneedsquiz {
	align-items: center;
	justify-content: center;

	div {
		width: 50%;
		

		ul {
			width: 100%;

			li {
				padding: 2%;
			}
		}

		* {
			padding: 1%;
		}
	}
}


#zerodepnodejslogging {
	align-items: center;
	justify-content: center;

	div {
		width: 50%;
		padding: 1%;

		ul {
			width: 100%;

			li {
				padding: 2%;
			}
		}

		p {
			padding: 1%;
		}
	}
}

@media only screen and (max-width: 600px){
	.articleContent {

		div {
			width: 100%;
		}
	}

	#videogamesblockchainneedsquiz,
	#zerodepnodejslogging {
		div {
			width: 100%;
		}
	}
}