:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --theme-0: #f8f9fa;
  --theme-50: #eaecf7;
  --theme-100: #d4d8ee;
  --theme-200: #aab2de;
  --theme-300: #7f8bcd;
  --theme-400: #5564bd;
  --theme-500: #3c4a9a;
  --theme-600: #344186;
  --theme-700: #2d3773;
  --theme-800: #252e5f;
  --theme-900: #1d244b;
  --theme-950: #191f41;
  --theme-1000: #242424;

  color-scheme: light dark;
  color: var(--theme-0);
  background-color: var(--theme-1000);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100dvh;
}

#root {
  width: 100%;
  max-height: 100dvh;
  height: 100dvh;
  overflow-y: none;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  #root-container {
    display: contents;

    nav {
      flex: 0 1 50px;
    }
  
    #positionHelper {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      overflow-y: auto;

      main {
        flex: 1 1 auto;
      }

      footer {
        flex: 0 0 50px;
        padding: 5px;
      }
      

    }
  }
}



.footerButton,
.navButton {
  background-color: var(--theme-950);
  text-decoration: none;
  color: var(--theme-0);
  border-radius: 15px;
  border: 2px solid var(--theme-950);
  padding: 5px;
}

.footerButton:hover,
.navButton:hover {
  background-color: var(--theme-600);
  border: 2px solid var(--theme-0);
}

.subheadingAnchor {
  text-decoration: none;
}




@media (prefers-color-scheme: light) {
  :root {
    color: var(--theme-1000);
    background-color: var(--theme-0);
  }
  
}
