

nav {
	/* background: linear-gradient(var(--theme-500), var(--theme-900)); */
	backdrop-filter: blur(10px);
	color: var(--theme-0);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	

	div#navbar-content {
		padding: 5px;
		height: 100%;

		display: flex;
		justify-content: space-between;

		* {
			display: flex;
			gap: 5px;
			align-items: center;

		}

		
		
	}
}

.navbar-icon {
	margin-left: 5%;
	a {
		text-decoration: none;
		color: white;
	}
}

.navbar-links {
	margin-right: 5%;
}

@media only screen and (max-width: 600px){
	nav {

		div#navbar-content {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.navbar-links {
		margin-right: 0%;
	}
	
}