#recent-posts-list {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;

	ul {
		width: 50%;
		list-style-type: none;
		display: flex;
		flex-direction: column;

		a {
			text-decoration: none;
			
			li {
				background-color: var(--theme-950);
				text-decoration: none;
				color: var(--theme-0);
				border-radius: 15px;
				border: 2px solid var(--theme-950);
				padding: 5px;
				margin: 1%;
	
	
				
			}
		}

		li:hover {
			background-color: var(--theme-600);
			border: 2px solid var(--theme-0);
		}
	}
}


@media only screen and (max-width: 600px){
	#recent-posts-list {
		ul {
			width: 90%;

			li {
				margin: 2%;

			}
		}
	}
}