---
import ProjectCard from '../components/ProjectCard';
import Layout from '../layouts/BlogPost.astro';
import projectMeta from "../utils/projectMeta";
import "../styles/ArticleContent.css";
import "../styles/Projects.css";
---

<Layout
	title="Projects"
	description="See what Alex has been making!"
	pubDate={new Date('December 15 2024')}
	heroImage="/projects/Header.png"
>
	
<div class="articleContent" id="projectsPage">
	<section>
		<p>
			Lists of projects, whether they're videogames or websites or general tools or something completely different, that I&apos;ve worked on.
		</p>

	</section>

	<section>
		<h3>In Progress</h3>
		<p>Projects that are still on-going, may or may not be released to the public, and are privately-developed - probably through my BigfootDS business.</p>
		<ul>
			<li>Patron Simulator (real-time strategy game)</li>
			<li>The Bestest Beehive (open-world cosy crafting game)</li>
		</ul>
	</section>

	<section>
		<h3>Open Source</h3>
		<p>Projects that are still on-going, released to the public, and open to contributions. Yay for open-source software!</p>
		<div class="projectCardContainer">
		<ProjectCard projectObj={projectMeta["sourcepool"]} />
		<ProjectCard projectObj={projectMeta["supercamo"]} />
		<ProjectCard projectObj={projectMeta["npmcompliancehelper"]} />
		<ProjectCard projectObj={projectMeta["commitswithintime"]} />
		<ProjectCard projectObj={projectMeta["unityautomatedsemver"]} />
		<ProjectCard projectObj={projectMeta["unityupmsemver"]} />
		
		</div>

	</section>

	<section>
		<h3>Completed and/or Archived</h3>
		<p>Projects that are are done & dusted.</p>
		<div class="projectCardContainer">
		<ProjectCard projectObj={projectMeta["ppvr"]} />
		<ProjectCard projectObj={projectMeta["ggj2020"]} />
		<ProjectCard projectObj={projectMeta["ggj2019"]} />
		<ProjectCard projectObj={projectMeta["aitvrtour"]} />
		<ProjectCard projectObj={projectMeta["scotsyukivr"]} />
		</div>
	</section>








</div>

</Layout>
<style>
#aboutPageContent {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#aboutPageMainContent {
	display: flex;
	flex-direction: column;
	align-items: left;
	width: 60%;
	
	div,p {
		padding-bottom: 1%;
	}




	
	.contentWithSideImage {
		width: 100%;
		justify-content:space-between;
		align-items: center;
		display: flex;
		flex-direction: row;
		gap: 5%;

		.content {
			max-width: 55%;
		}
		.sideImage {
			max-width: 30%;
			object-fit: cover;
			border-radius: 25%;
		}
	}

	#aboutIntro {
		display: flex;
		flex-direction: row;
		gap: 5%;

		#aboutIntroHeaderImg {
			img {
				aspect-ratio: 1;
				object-fit:scale-down;
				width: 100%;
				border-radius: 25%;
			}
		}
	}
}


@media only screen and (max-width: 600px){
	#aboutPageMainContent {
		display: flex;
		flex-direction: column;
		align-items: left;
		width: 90%;
	
		p {
			padding: 1%;
		}

		#aboutIntro {
			flex-direction: column;
		}


		.contentWithSideImage {
			width: 100%;
			justify-content: space-between;
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 5%;
			margin-bottom: 5%;

			.content {
				max-width: 100%;
			}
			.sideImage {
				max-width: 100%;
			}
		}
	}
}


</style>